*{
    font-family: Courier New, monospace;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: rgb(240, 197, 237);
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 90%;
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
}
.input{
    display: flex;
    justify-content: space-between; 
    
}
.in{
    background: #9cd3f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family:Courier New, monospace;
    border-left: #17191a;
    border-radius: 8px;
    border: none ;
    height: 27px;
    width: 140px;
}
.add-btn{
    background: linear-gradient( #5cb9f7, #13a0f1);
    font-family:Courier New, monospace;
    font-weight: bold;
    font-size: small;
    border-radius: 8px;
    border: none ;
    height: 30px;
    width: 90px;
}
.todolist{
    margin-right: 40px;
    width: 30%;
}
ul {
    list-style-type: none;
}
.circular-btn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background: linear-gradient( #5cb9f7, #13a0f1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
}
.cal{
    width: 60%;
    height: 100%;
    border-radius: 18px;
    background: linear-gradient( #5cb9f7, #13a0f1);
}
.month{
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;

}
.daysofweek{
    padding: 10px;
    display: grid;
    font-weight: bold;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
    background: linear-gradient( #5cb9f7, #13a0f1);

}
.days{
    height: 88%;
    display: grid;
    text-align: center;
    box-sizing: border-box;
    justify-content: space-between;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
}
.days div div:hover {
    background-color:#9cd3f7;
    transform: scale(1) !important; 
    border-radius: 8px;
    
}
.days div:hover {
    background-color:#9cd3f7;
    transform: scale(1.1); 
    border-radius: 8px;
    
}
.days div {
    text-align: center;
    border: 1px solid rgb(240, 197, 237);
}
.days div div{
    border:none;
    font-weight: lighter !important;
    padding: 2px;
}
